<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <style>
        html, body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            text-align: center;
        }
    </style>
    <title>Error Page</title>
</head>
<body>
<div class="container">
    <div>
        <h1 class="display-4">出错啦！</h1>
        <p class="lead">Oops! Something went wrong.</p>
        <p class="lead" th:text="${message}">Please try again later or contact support.</p>
        <a href="/" class="btn btn-primary">回到灯塔首页</a>
    </div>
</div>
</body>
</html>
